html
    head
        link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
        link(rel='stylesheet' type='text/css' href='/css/style.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body(onload="getLocation()")
        - var loginButtonStyle = 'inline'
        - if (user.isAuthenticated)loginButtonStyle ='none'
        
        - var logoutButtonStyle = 'none'
        - if (user.isAuthenticated)logoutButtonStyle ='inline'
        - if (user.isAuthenticated){
        -    loginButtonStyle ='none'
        -   }


        


        script.
            var lat;
            var lon;
            var data;
            if ('geolocation' in navigator){
            console.log("availv")
            navigator.geolocation.getCurrentPosition(position => {
            lat = position.coords.latitude;
            lon = position.coords.longitude;
            console.log(lat + " " +lon);
            data = {lat,lon};
       

            var pos = [45.815399, 15.966568]
            var mymap = L.map('mapid').setView(pos, 13);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);
            

            mymap.locate({setView: false, watch: true}) 
            .on('locationfound', function(e){
                var marker = L.marker([e.latitude, e.longitude]   ).bindPopup('Trenutna lokacija: ' +e.latitude + ' ' + e.longitude);
    
                mymap.addLayer(marker);

            })
            .on('locationerror', function(e){
                console.log(e);
                alert("Location access denied.");
            });
            

            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };
            console.log(options);
            fetch('/api',options).then(response => {
                            return response.text();
                        }).then(text => {
                            var users =[]
                            users=JSON.parse(text);
                            console.log(users);
                            console.log(users.length);
                            var zamjena="Most recent users are:<br>";

                            for(var i=0; i < users.length; i++){

                                if (document.getElementById("logged")==null)break;
                                var one = [users[i].lat , users[i].lon];
                                console.log(one);
                                marker = new L.marker(one)
                                            .bindPopup(users[i].username+ " - "+users[i].dateTime )
                                            .addTo(mymap); 
                                zamjena=zamjena + users[i].username + "<br>";
                                
                               
                            }
                            document.getElementById("mostRecent").innerHTML = zamjena;
                        });

            })

            
            
            }

            

        //- console.log(user.users[0].username)
        
        .row
        #mapid.col-lg-6.col-md-6.col-sm-12
        .col-lg-6.col-md-6.col-sm-12.login-form
            if user.isAuthenticated
                h1(id="logged") Welcome #{user.name}
            p#demo Loading current position...
            hr
            br
            input#btnLogin(onclick="location.href='login'" type='button' value='Log in' style="display: " + loginButtonStyle)
            input#btnLogin(onclick="location.href='logout'" type='button' value='Log out' style="display: " + logoutButtonStyle)
            br
            br
            br
            h3(id="mostRecent" style="display: " + logoutButtonStyle) Most recent users are ...
            h3(class="" style="display: " + loginButtonStyle) Log in to see more info ...

        script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
        script(src='/js/script.js')