<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
<link rel="stylesheet" type="text/css"  href="/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>

<body onload="getLocation()">

    <div class="row">
        <div id="mapid" class="col-lg-6 col-md-6  col-sm-12"></div>
    
        <div class="col-lg-6 col-md-6  col-sm-12 login-form ">

            <p id="demo">Loading current position...</p>
            <hr>
            <p id="demo">Log in to see more</p>

                <input onclick="location.href='profile'" type="button" id="btnLogin" value="Log in">

        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>


<script src="/js/script.js"/> 
<script>






</script>

</body>

</html>